.gallery__wrapper
  each collection in collections
    each project in collection.data.projects
      section.gallery__project
        a.gallery__project__link(data-animation="link" href=link(project.projects_project))
          h1.gallery__project__title.link--select.--span-to-hide=project.projects_project.data.title
          h1.gallery__project__title.link--select.--span-to-reveal=project.projects_project.data.title

        figure.gallery__project__media
          img.gallery__project__media__image(alt=project.projects_project.data.image.alt data-src=project.projects_project.data.image.url)
